{
  "semi": false,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 85,
  "overrides": [
    {
      "files": [
        "*.json",
        "*.html",
        "*.css",
        "*.less",
        "*.scss",
        "webpack/**/*"
      ],
      "options": {
        "tabWidth": 2,
        "singleQuote": false,
        "semi": true
      }
    },
    {
      "files": [
        "*.vue",
        "*.svelte"
      ],
      "options": {
        "tabWidth": 2,
        "singleQuote": true
      }
    },
    {
      "files": [
        "*.jsx",
        "*.eslintrc.*",
        "*.config.*",
        "*.tsx"
      ],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
